.assignment-item {
  position: relative;
  padding-left: 20px;
}

.assignment-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: green;
}

.custom-margin-left {
  margin-left: 100px;
}
